= render 'shared/form_errors',entity: @user

.sign-up-section.flex-centered
  .col-md-6.com-md-offset-3
    = form_with model:@user,local: true,class: ['sign-up-form','flex-centered'] do |f|
      .input-with-icon
        %span.glyphicon.glyphicon-pencil 
        = f.text_field :name, class: 'form-control',placeholder: 'Name'
      .input-with-icon
        %span.glyphicon.glyphicon-envelope
        = f.email_field :email, class: 'form-control',placeholder: 'Email'
      - if params[:action] == 'new'
        .input-with-icon
          %span.glyphicon.glyphicon-certificate
          = f.password_field :password, class: 'form-control',placeholder: 'Password'
        .input-with-icon
          %span.glyphicon.glyphicon-certificate
          = f.password_field :password_confirmation, class: 'form-control',placeholder: 'Password Confirmation'
      = f.submit local_assigns[:message], class: "btn btn-primary"