= render 'shared/form_errors',entity: @order
= form_for @order,:html => {:class => 'flex-centered'},local: true do |f|
  .input-with-icon
    %span.glyphicon.glyphicon-envelope
    = f.select :city, options_for_select(Order.cities.keys),{:include_blank => "City"},{:class =>'form-control'}
  .input-with-icon
    %span.glyphicon.glyphicon-envelope
    = f.text_field :address,class: 'form-control',placeholder: 'Address'
  .input-with-icon
    %span.glyphicon.glyphicon-envelope
    = f.telephone_field :phone,class: 'form-control',placeholder: 'Phone Number'
  = f.submit 'Place Order',class:'btn btn-primary'
   