%h1.order-prompt 
  Order number ##{@order.id}
  .accepted= @order.accepted? ? 'Accepted' : 'Waiting'
%table.products-list
  %tr.product-item
    %td.image Image
    %td.title Name
    %td.price Price
    %td.quantity Quantity
  = render @order
.delivery-information.flex-centered
  %span 
    Name: #{@order.user.name}
    %br/
    Email: #{@order.user.email}
  %span 
    Address: #{@order.address}
    %br/
    Phone: #{@order.phone}
  %span
    = @order.created_at.strftime("Placed at on %d/%m/%Y at %I:%M %p")
  .qr-image
    = create_qr_image(order_url(@order))