.cart-display
  %table.products-list
    %tr.product-item
      %td.image
        Image
      %td.title
        Name
      %td.quantity
        Quantity
      %td.price
        Price
    - @products_carts.each do |product_cart|
      - product =  product_cart.product
      - product_price= product.price * product_cart.quantity
      %tr.product-item
        %td.image
          = image_tag url_for(product.image), alt: product.title, class: 'product-image'
        %td.title
          = product.title
        %td.quantity
          = product_cart.quantity
        %td.price
          = product_price.to_s + " $"
  .order-secion
    %span.flex-centered Your total is #{@total_price} $
    = button_tag 'Place Order',class: 'btn btn-primary'
