.cart-display
  = form_with(url: '.',class:'informations') do |f|
    = f.label "Your totals is #{@total_price} $",id: 'total'
    .flex-centered
      = f.label "Delivery address"
      = f.text_area class: 'form-control',placeholder: ''
    = f.number_field :price,class: 'form-control',placeholder: 'Phone Number'
    = f.label 'How would you like to pay?'
    #paying-method
      = f.collection_radio_buttons :options,[[:cash,'Cash'],[:credit,'Credit']],:first,:last

    = f.submit 'Place Order',class: 'btn btn-primary'

    
  %table.products-list
    %tr.product-item
      %td.image
        Image
      %td.title
        Name
      %td.quantity
        Quantity
      %td.price
        Price
    - @products_carts.each do |product_cart|
      - product =  product_cart.product
      - product_price= product.price * product_cart.quantity
      %tr.product-item
        %td.image
          = image_tag url_for(product.image), alt: product.title, class: 'product-image'
        %td.title
          = product.title
        %td.quantity
          = product_cart.quantity
        %td.price
          = product_price.to_s + " $"
