.cart-display
  %table.products-list
    %tr.product-item
      %td.image Image
      %td.title Name
      %td.quantity Quantity
      %td.price Price
      %td.action Action
    - @products_carts.each do |product_cart|
      - product =  product_cart.product
      - product_price= product.price * product_cart.quantity
      %tr.product-item
        = render 'shared/product_horizontal_item',product: product,product_price: product_price
        %td.quantity
          = link_to '', change_quantity_url(id: product_cart.id, :operation => 'sub'), method: 'post', class:'glyphicon glyphicon-minus'  
          = product_cart.quantity
          = link_to '', change_quantity_url(id: product_cart.id, :operation => 'add'), method: 'post', class:'glyphicon glyphicon-plus'
        %td.action
          = link_to '', products_cart_url(product_cart), method: 'delete', class:'glyphicon glyphicon-trash'
  - unless @products_carts.count.zero?
    .order-secion
      %span.flex-centered Your total is #{@total_price} $
      = link_to 'Place Order', new_order_path, class: 'btn btn-primary flex-centered'