
= image_tag url_for(product.image), alt: product.title, class: 'product-image'
.title= product.title
.category= product.category
.price= product.price.to_s + " $"
= link_to '', admin_product_url(product),method: 'delete',class:'glyphicon glyphicon-trash',data: {confirm: 'Are you sure?'}
= link_to '', edit_admin_product_url(product),class:'glyphicon glyphicon-pencil',data: {confirm: 'Are you sure?'}
