= render 'shared/form_errors',entity: @product
= form_for( @product,:html => {:class =>"new-product" }) do |form|
  .input-field
    = form.label :title
    = form.text_field :title
  .input-field
    = form.label :category
    = form.text_field :category
  .input-field
    = form.label :price
    = form.number_field :price
  .input-field
    = form.label :image
    = form.file_field :image, direct_upload: true
  .actions
    = form.submit

