#product-display
  #sorting-bar
    .filter-div
      %span PRICE RANGE:
      #slider
      = javascript_include_tag 'nouislider'
      .selector-container
        = select_tag 'category', options_for_select(@products.map{|product| product.category}), class: ['selector'], prompt: 'Category'
      .selector-container
        = select_tag 'sorting', options_for_select([]), class: ['selector'], prompt: 'Sort'
      .selector-container
        = select_tag 'vegetarian', options_for_select([]), class: ['selector'], prompt: 'Vegetarian'
  = will_paginate  
  .products-list
    - @products.each do |product|  
      .product-block.flex-centered
        = image_tag url_for(product.image), alt: product.title, class: 'product-image'
        .product-name.flex-centered= product.title
        .product-category.flex-centered= product.category
        .product-price.flex-centered= product.price.to_s + " $"
        = button_to 'Add to cart', products_carts_url, method: 'post', class: 'cart-button', params: { product: product.id }
  = will_paginate  
