%header#header
  #tool-bar
    = image_tag 'logo.png', alt: 'Logo', class: 'logo-img'
    .main-brand Eurekka Caffe
    %ul#button-bar
      %li= link_to 'Home', products_url, class: ['inside-pointer']
      %li= link_to 'About', '#about', class: ['inside-pointer']
      %li= link_to 'Services', '', class: ['inside-pointer']
      %li= link_to 'Blog', '', class: ['inside-pointer']
      %li= link_to 'Contacts', '#about', class: ['inside-pointer']

      - if logged_in?   
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown",:class => 'inside-pointer'}
            = @current_user.name 
            %b.caret
          %ul.dropdown-menu
            %li
              %span.glyphicon.glyphicon-shopping-cart
              = link_to "My Cart", current_user.cart
            %li
              %span.glyphicon.glyphicon-shopping-cart
              = link_to "My Orders", orders_url
            %li
              %span.glyphicon.glyphicon-user
              = link_to "Profile", current_user
            %li
              %span.glyphicon.glyphicon-cog
              = link_to "Settings", '#'
            %li.divider
            - if @current_user.admin?
              %li
                %span.glyphicon.glyphicon-wrench
                = link_to "Admin Page", admin_root_url
            %li
              %span.glyphicon.glyphicon-log-out
              = link_to "Log Out", logout_path , method: :delete
      - else
        = link_to 'Log In', login_path, class: ['btn btn-primary']
  .informational-text
    %span.big-text ORDERING FOOD
    %br/
    %span ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#{image_tag "dish.png"}~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    %br/
    %span= ApplicationHelper::MAIN_TEXT
