%header#header

  #tool-bar
    = image_tag 'logo.png', alt: 'Logo', class: 'logo-img'
    .main-brand Eurekka Caffe
    %ul.nav.navbar-nav.navbar-right#button-bar
      %li= link_to 'Home','',class: ['inside-pointer']
      %li= link_to 'About','',class: ['inside-pointer']
      %li= link_to 'Services','',class: ['inside-pointer']
      %li= link_to 'Blog','',class: ['inside-pointer']
      %li= link_to 'Contacts','',class: ['inside-pointer']


      - if logged_in?
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown",:class => 'inside-pointer'}
            Account 
            %b.caret
          %ul.dropdown-menu
            %li= link_to "Profile", current_user
            %li= link_to "Settings", '#'
            %li.divider
            %li= link_to "Log Out", logout_path , method: :delete
      -else
        =link_to 'Log In', login_path , class: ['btn btn-primary']
  .informational-text
  .informational-text
    %span.big-text ORDERING FOOD
    %br/
    %span ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#{image_tag "dish.png"}~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    %br/
    %span= ApplicationHelper::MAIN_TEXT