<!DOCTYPE html>
<html >
  <head>
    <title>RestaurantApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'initializer' %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>
  <body onload="initialize()">
    <header id="header">
      <div id="tool-bar">
        <%= image_tag "logo.png", :class => "logo-img", :alt => "Logo" %>
        <div class="main-band">Eureka Kaffe</div>
        <div id="button-bar">
          <a class="inside-pointer" href="#header">Home</a>
          <a class="inside-pointer" href="#about">About</a>
          <a class="inside-pointer" href=".">Blog</a>
          <a class="inside-pointer" href="#carusel">Service</a>
          <a class="inside-pointer" href="#about">Contacts</a>
        </div>
      </div>
      <div class="informational-text">
        <span class="big-text">ORDERING FOOD</span><br>
        <span>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<%= image_tag "dish.png" %>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ </span><br>
        <span><%= ApplicationHelper::MAIN_TEXT%></span>
      </div>
    </header>
    <section id="main-content"><%=yield%></section>
    <footer id="about">
      <h1>About</h1>
      <span><%= ApplicationHelper::DESCRIPTION %></span>
      <div id="info">
        <div class="contact">
          <h2>Contact</h2>
          <% ApplicationHelper::CONTACTS.each do |key,value| %>
            <span class="label"><%= key.capitalize %>:</span>
            <span class="content"><%= value %></span><br>
          <% end %>
        </div>
        <div class="program">
          <h3>Schedule</h3>
          <% ApplicationHelper::SCHEDULE.each do |key,value| %>
            <span class="label"><%= key.capitalize %>:</span>
            <span class="content"><%= value %></span><br>
          <% end %>
        </div>
      </div>
    </footer>
  </body>
</html>
