!!!
%html
  %head
    %title RestaurantApp
    = csrf_meta_tag
    = csp_meta_tag
    = javascript_include_tag 'initializer'
    
    = stylesheet_link_tag 'application',media: 'all', 'data-turbolinks-track': "reload"
    = javascript_pack_tag "application", 'data-turbolinks-track': "reload"
  %body
    = render 'layouts/header'
    #main-content
      = yield
    = render 'layouts/footer'
    = render 'shared/flash_messages'
