!!!
%html 
  %head
    %title RestaurantApp
    = csrf_meta_tag
    = csp_meta_tag
    = javascript_include_tag 'initializer'
    
    = stylesheet_link_tag 'application',media: 'all', 'data-turbolinks-track': "reload" 
    = javascript_pack_tag "application", 'data-turbolinks-track': "reload"
  %body{:onload => "initialize()"}
    %header#header
      #tool-bar
        = image_tag 'logo.png', alt: 'Logo', class: 'logo-img'
        .main-brand Euraka Kaffe
        #button-bar
          %a.inside-pointer{:href => '#header'} Home
          %a.inside-pointer{:href => '#about'} About
          %a.inside-pointer{:href => '.'} Blog
          %a.inside-pointer{:href => '.'} Service
          %a.inside-pointer{:href => '#about'} Contacts
      .informational-text
        %span.big-text ORDERING FOOD
        %br/
        %span ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#{image_tag "dish.png"}~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        %br/
        %span= ApplicationHelper::MAIN_TEXT
    %section#main-content= yield
    %footer#about
      %h1 About
      %span= ApplicationHelper::DESCRIPTION
      #info
        .contact
          %h2 Contact
          - ApplicationHelper::CONTACTS.each do |key,value|
            %span.label
              = key.capitalize
              \:
            %span.content= value
            %br/
        .program
          %h3 Schedule
          - ApplicationHelper::SCHEDULE.each do |key,value|
            %span.label
              = key.capitalize
              \:
            %span.content= value
            %br/
